body {
    background-color: #d4e3ec;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 7% 0% 7% 0%;
}
main {
    background-color: white;
    border-radius: 10px;
    width: 27%;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
img {
    width: 100%;
    border-radius: 3%;
}
h2 {
    margin: 1px 0px 0px 0px;
}
p {
    color: #777d84;
    font-size: 15px;
    margin: 0px
}